--
-- PostgreSQL database dump
--

\restrict GShGfPH9BhC0MBBIr2DjdSqSThX3zIbI7brsTGWnTJXXsJ0BwnBgVeJQ9YsToIU

-- Dumped from database version 13.22 (Debian 13.22-1.pgdg13+1)
-- Dumped by pg_dump version 13.22 (Debian 13.22-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: sectors; Type: TABLE; Schema: public; Owner: assignment_user
--

CREATE TABLE public.sectors (
    id bigint NOT NULL,
    level integer NOT NULL,
    name character varying(255) NOT NULL,
    parent_id bigint
);


ALTER TABLE public.sectors OWNER TO assignment_user;

--
-- Name: user_submission_sectors; Type: TABLE; Schema: public; Owner: assignment_user
--

CREATE TABLE public.user_submission_sectors (
    user_submission_id bigint NOT NULL,
    sector_id bigint NOT NULL
);


ALTER TABLE public.user_submission_sectors OWNER TO assignment_user;

--
-- Name: user_submissions; Type: TABLE; Schema: public; Owner: assignment_user
--

CREATE TABLE public.user_submissions (
    id bigint NOT NULL,
    agree_to_terms boolean NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.user_submissions OWNER TO assignment_user;

--
-- Name: user_submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: assignment_user
--

ALTER TABLE public.user_submissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_submissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: sectors; Type: TABLE DATA; Schema: public; Owner: assignment_user
--



--
-- Data for Name: user_submission_sectors; Type: TABLE DATA; Schema: public; Owner: assignment_user
--

COPY public.user_submission_sectors (user_submission_id, sector_id) FROM stdin;
1	378
\.


--
-- Data for Name: user_submissions; Type: TABLE DATA; Schema: public; Owner: assignment_user
--

COPY public.user_submissions (id, agree_to_terms, name) FROM stdin;
1	t	daaaaan
\.


--
-- Name: user_submissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: assignment_user
--

SELECT pg_catalog.setval('public.user_submissions_id_seq', 1, true);


--
-- Name: sectors sectors_pkey; Type: CONSTRAINT; Schema: public; Owner: assignment_user
--

ALTER TABLE ONLY public.sectors
    ADD CONSTRAINT sectors_pkey PRIMARY KEY (id);


--
-- Name: user_submission_sectors user_submission_sectors_pkey; Type: CONSTRAINT; Schema: public; Owner: assignment_user
--

ALTER TABLE ONLY public.user_submission_sectors
    ADD CONSTRAINT user_submission_sectors_pkey PRIMARY KEY (user_submission_id, sector_id);


--
-- Name: user_submissions user_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: assignment_user
--

ALTER TABLE ONLY public.user_submissions
    ADD CONSTRAINT user_submissions_pkey PRIMARY KEY (id);


--
-- Name: user_submission_sectors fke7ucigsiuy11qrh2cv7fcfmiw; Type: FK CONSTRAINT; Schema: public; Owner: assignment_user
--

ALTER TABLE ONLY public.user_submission_sectors
    ADD CONSTRAINT fke7ucigsiuy11qrh2cv7fcfmiw FOREIGN KEY (user_submission_id) REFERENCES public.user_submissions(id);


--
-- Name: user_submission_sectors fksosjh3elpltijlw74iw47clat; Type: FK CONSTRAINT; Schema: public; Owner: assignment_user
--

ALTER TABLE ONLY public.user_submission_sectors
    ADD CONSTRAINT fksosjh3elpltijlw74iw47clat FOREIGN KEY (sector_id) REFERENCES public.sectors(id);


--
-- PostgreSQL database dump complete
--

\unrestrict GShGfPH9BhC0MBBIr2DjdSqSThX3zIbI7brsTGWnTJXXsJ0BwnBgVeJQ9YsToIU

